@model IEnumerable<GameGenerator.Models.CardEntryViewModel>

@section Styles {
    <link href="~/css/creatorPage.css" rel="stylesheet" type="text/css"/>
}

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Index</h1>
<p>Creator content</p>

<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-6">
        <ul id="messagesList"></ul>
    </div>
</div>

<div class="cardsContainer">
    <h1>Game: @Model.First().GameId</h1>
    @foreach (var item in Model)
    {
        <div class="card" id="@item.Id">
            <div class="container">
                <h4><b>@item.Text</b></h4>
            </div>
        </div>
    }
</div>


<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chatIn.js"></script>