@model GameGenerator.Models.OnGoingGame.OnGoingGameViewModel


@{
    ViewData["Title"] = "Creator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Index</h1>
<p>Creator content</p>

<div class="start-game-container">
    <form asp-action="StartGame">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            
            <label asp-for="GameGroup" class="control-label"></label>
            <input asp-for="GameGroup" class="form-control" />
            <span asp-validation-for="GameGroup" class="text-danger"></span>
            <label asp-for="GameId" class="control-label"></label>
            <input asp-for="GameId" class="form-control" />
            <span asp-validation-for="GameId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}